/* VARIABLES */

$mainBackgroundColor: rgba(230, 230, 230, 0.7);
$headerFooterBackgroundColor: #000;
$sectionsBackgroundColor: rgba(60, 72, 88, 0.14);
$projectBackgroundColor: rgba(46, 47, 48, 0.65);

/* PLACEHOLDERS */

%shadow-boxes {
  background: white;
  padding-bottom: 15px;
  border: 1px rgb(172, 170, 170) solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* ANIMATIONS */

/* Top arrow bouncing */

@keyframes bouncing {
  15% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  65% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Appearance */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appearance {
  100% {
    opacity: 1;
    transform: none;
  }
}

/* SECTIONS */

section,
article,
header,
footer {
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}

header {
  background-color: $headerFooterBackgroundColor;
  color: white;
  padding-bottom: 15px;
  overflow-x: hidden;

  img {
    opacity: 0;
    transform: translateY(-30px);
    animation: appearance 0.2s 1s ease-out forwards;
  }
  h1 {
    opacity: 0;
    transform: translateX(-30px);

    animation: appearance 0.2s 2s ease-out forwards;
  }
  h2 {
    opacity: 0;
    overflow-x: hidden;
    transform: translateX(30px);
    animation: appearance 0.2s 2.5s ease-out forwards;
  }
  .separator {
    opacity: 0;
    animation: appearance 0.2s 3s ease-out forwards;
  }
}

.main-nav,
.project-nav {
  text-align: center;

  font-size-adjust: 1.1em;
  padding: 15px;
  ul {
    padding: 0;
    display: inline;
    li {
      list-style-type: none;
      display: inline;
      margin: 10px;
      a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;

        display: inline-block;
        padding: 15px 20px;
        position: relative;
      }
      a::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }

  //Safari accessibility
  ul li::before {
    content: '\200B';
  }
}

.project-nav {
  background-color: #000;
}

// .project-nav {
//   a {
//     color: rgb(0, 0, 0);
//   }
//   a::after {
//     background: rgb(0, 0, 0);
//   }
// }

.main-menu {
  position: relative;
  background-color: white;
  z-index: 5000;
}

.main-nav {
  background: #000;
  box-shadow: 0px 3px 1px -1px (rgba(0, 0, 0, 0.5));
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

footer {
  background: $headerFooterBackgroundColor;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 15px;
  span {
    display: inline;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Menu for mobile */
.project-nav-mobile {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  z-index: 10000;

  li {
    float: left;
    display: block;

    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    img {
      width: 250px;
      margin: 0;
      padding: 0;
    }
  }
}

/* Burger menu */

#project-nav-projects-mobile {
  font-size-adjust: 0.6em;
  margin: 0;
  padding: 0;
  ul {
    li {
      display: block;
    }
  }
}

.navigationCheckbox {
  display: none;
}

// red circle
.navigationBg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 50px;
  background-image: radial-gradient(#000000, #855769);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigationBtn {
  background-color: #fff;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 15px;
  right: 50px;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  z-index: 11000;
}

.navigationBtn:focus {
  outline: 2px solid;
}

/* Burger menu */
/* middle stroke */
.navigationIcon {
  position: relative;
  margin-top: 25px;
  width: 32px;
  height: 2px;
  background: #333;
  display: inline-block;
}

/* two other strokes */

.navigationIcon::before,
.navigationIcon::after {
  width: 32px;
  height: 2px;
  background: #333;
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

/* place the 2 strokes (top and bottom) */
.navigationIcon::before {
  top: -12.8px;
}
.navigationIcon::after {
  top: 12.8px;
}

/* navigation and list */

.nav {
  height: 20vh;
  position: fixed;
  width: 0;
  opacity: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); // spring effect
}

.navigationList {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  width: 100%;
  a:hover {
    font-weight: bold;
  }
}

.links {
  display: inline-block;
  margin-top: 18px;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.title {
  font-size: 32px;
}
/* animations */

// The general sibling combinator (~) separates two selectors and matches all iterations
// of the second element, that are following the first element
// (though not necessarily immediately), and are children of the same parent element.

.navigationCheckbox:checked ~ .navigationBg {
  //transform: scale(80); // red button extends on the screen
  transform: scale(80);
}

.navigationCheckbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
}

/* + : element after */

.navigationCheckbox:checked + .navigationBtn .navigationIcon {
  background-color: transparent;
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* ELEMENTS */

* {
  /* use the box as reference for padding */
  box-sizing: border-box;
}

html {
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: $mainBackgroundColor;
  margin: 0px;
  font-family: Roboto, sans-serif;
  animation: fadein 1s;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 0;
  padding-top: 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;

  &:before {
    content: '« ';
    color: grey;
  }

  &:after {
    content: ' »';
    color: grey;
  }
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-transform: uppercase;

  &::before {
    content: '« ';
    color: grey;
  }

  &::after {
    content: ' »';
    color: grey;
  }
}

span {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* ID */

#summary {
  @extend %shadow-boxes;
  background: $sectionsBackgroundColor;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;

  div {
    padding: 25px 25%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    line-height: 20px;
  }

  ul {
    list-style-type: circle;
  }

  li {
    padding: 5px;
    margin-left: 35px;
  }
}

#logo {
  margin: 15px 0px;
  max-width: 40%;
  height: auto;
}

#projects-section {
  @extend %shadow-boxes;
  background: $sectionsBackgroundColor;
  margin-bottom: 25px;
}

#contact-section {
  @extend %shadow-boxes;
  background: rgba(60, 72, 88, 0.14);
  display: flex;
  padding: 30px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  p {
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
}

#top-link-small {
  text-align: right;
  margin-right: 20px;
  padding-bottom: 25px;

  img {
    width: 25px;
    height: 25px;

    &:hover {
      animation: bouncing 1s ease;
      animation-iteration-count: infinite;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

#top-link {
  text-align: right;
  margin-right: 20px;
  padding-bottom: 25px;

  img {
    width: 40px;
    height: 40px;
    transition: 0.5s all ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

/* CLASSES */

.project {
  background: $projectBackgroundColor;
  color: aliceblue;
  width: 300px;
  margin: 30px;
  display: inline-block;
  @extend %shadow-boxes;
  border: 0px black solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 25px;

  a {
    color: aliceblue;
  }

  img {
    width: 400px;
    height: 266px;
    margin-left: -25%;
    transition: 0.5s all ease-in-out;
    /* filter: grayscale(100%) blur(0.5px); */
    object-fit: cover;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    img {
      transform: scale(1.1);
      /* filter: none; */
    }
  }

  span {
    line-height: 18px;
    padding-bottom: 3px;
  }

  .date-project {
    font-size: 0.7em;
  }
}

.picture {
  width: 400px;
  height: 266px;
  z-index: 4;
  overflow: hidden;
  margin-bottom: 15px;
}

.logo-contact {
  width: 300px;
  margin: 30px;
  display: inline-block;
  padding-bottom: 15px;
  border: 0px black solid;
  border-radius: 10px;

  img {
    width: 75px;
    height: 75px;
    transition: 0.5s all ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.separator {
  width: 40px;
  height: 1px;
  margin: 15px auto;
  display: block;
  background-color: #999999;
}

/* CONTAINER */

.margin-constraint {
  margin-left: 20px;
  margin-right: 20px;
}

.useful-width {
  max-width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.margin-constraint,
.useful-width {
  display: block;
  width: auto;
}

/* ACCESSIBILITY */

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* MEDIA QUERIES */

/* Mobile */
@media (max-width: 480px) {
  html {
    scroll-padding-top: 80px;
  }
  header {
    margin-top: 75px;
    padding-top: 20px;
  }
  #main-nav {
    display: none;
    visibility: hidden;
  }
  #summary {
    div {
      padding: 25px 5%;
    }
  }
  .header-logo {
    display: none;
    visibility: hidden;
  }
  .project {
    width: 100%;
    margin: 15px auto;
  }
  .project img {
    width: 100%;
    min-width: auto;
    height: auto;
    margin-left: 0%;
    object-fit: cover;
    /* filter: none; */
  }
  .project .picture {
    width: 100%;
    height: auto;
  }
  #logo {
    max-width: 80%;
  }
  #project-nav {
    display: none;
    visibility: hidden;
  }
  #project-nav-mobile {
    visibility: visible;
    display: block;
  }
  #contact-section {
    display: none;
    visibility: hidden;
  }
  #top-link-small img,
  #top-link img {
    margin-top: 15px;
  }

  .project-nav-mobile li img {
    width: 180px;
    margin: 10px;
    padding: 0;
  }
  #contact-section-mobile {
    visibility: visible;
    display: block;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }

    p {
      color: white;
      font-size: medium;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }

    .logo-contact {
      width: 80%;
      margin: 15px;
      text-align: center;
      background: #000;
      box-shadow: 0px 3px 1px -1px (rgba(0, 0, 0, 0.5));
      font-size-adjust: 1.1em;
      padding: 2px;
    }

    #github-logo {
      background-image: url('../img/icons/icon-github-mobile.png');
      background-repeat: no-repeat;
      background-position: 5%;
      background-size: 35px;
    }

    #linkedin-logo {
      background-image: url('../img/icons/icon-linkedin-mobile.png');
      background-repeat: no-repeat;
      background-position: 5%;
      background-size: 35px;
    }

    #email-logo {
      background-image: url('../img/icons/icon-email-logo.png');
      background-repeat: no-repeat;
      background-position: 5%;
      background-size: 35px;
    }

    #resume-logo {
      background-image: url('../img/icons/icon-resume-logo.png');
      background-repeat: no-repeat;
      background-position: 5%;
      background-size: 35px;
    }
  }
  header h2 {
    width: 90%;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  html {
    scroll-padding-top: 80px;
  }
  header {
    margin-top: 75px;
    padding-top: 20px;
  }
  #main-nav {
    display: none;
  }
  #summary {
    div {
      padding: 25px 5%;
    }
  }
  .useful-width {
    max-width: fit-content;
    margin-left: 5%;
    margin-right: 5%;
  }
  .header-logo {
    display: none;
  }
  .project {
    display: block;
    width: 75%;
    margin: 15px auto;
  }
  .project img {
    width: 100%;
    min-width: auto;
    height: auto;
    margin-left: 0%;
    /* filter: none; */
  }
  .project .picture {
    width: 100%;
    height: auto;
  }
  #logo {
    max-width: 80%;
  }
  #contact-section {
    display: none;
    visibility: hidden;
  }
  #project-nav {
    display: none;
    visibility: hidden;
  }
  #project-nav-mobile {
    visibility: visible;
    display: block;
  }
  #contact-section-mobile {
    display: block;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
    p {
      color: white;
      font-size: large;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }
    .logo-contact {
      // width: 80%;
      margin: 15px;
      padding: 2px;
      text-align: center;
      background: #000;
      box-shadow: 0px 3px 1px -1px (rgba(0, 0, 0, 0.5));
      font-size-adjust: 1.1em;

      a {
        text-decoration: none;
        &:hover {
          font-weight: bold;
        }
      }
    }

    #github-logo {
      background-image: url('../img/icons/icon-github-mobile.png');
      background-repeat: no-repeat;
      background-position: 5%;
      background-size: 35px;
    }

    #linkedin-logo {
      background-image: url('../img/icons/icon-linkedin-mobile.png');
      background-repeat: no-repeat;
      background-position: 5%;
      background-size: 35px;
    }

    #email-logo {
      background-image: url('../img/icons/icon-email-logo.png');
      background-repeat: no-repeat;
      background-position: 5%;
      background-size: 35px;
    }

    #resume-logo {
      background-image: url('../img/icons/icon-resume-logo.png');
      background-repeat: no-repeat;
      background-position: 5%;
      background-size: 35px;
    }
  }
  header h2 {
    width: 90%;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .project {
    text-align: center;
    height: 340px;
  }
  .project img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    vertical-align: middle;
  }
  #contact-section-mobile {
    display: none;
    visibility: hidden;
  }
  #project-nav {
    display: block;
    visibility: visible;
  }
  #project-nav-mobile {
    display: none;
    visibility: hidden;
  }
  #project-nav-projects-mobile {
    display: none;
    visibility: hidden;
  }
}
