/* VARIABLES */

$mainBackgroundColor: #f4f7f6;
$elementsBackgroundColor: rgba(0, 0, 0, 1);
$articlesBackground: rgba(60, 72, 88, 0.14);

/* PLACEHOLDERS */

%shadow-boxes {
  background: white;
  border: 1px rgb(172, 170, 170) solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Appearance */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SECTIONS */

section,
header,
footer {
  font-size: 18px;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}

header {
  background-color: $elementsBackgroundColor;
  color: white;
  padding-bottom: 15px;
}

nav {
  text-align: center;
  background: #000;
  box-shadow: 0px 3px 1px -1px (rgba(0, 0, 0, 0.5));
  font-size-adjust: 1.1em;
  padding: 15px;
  ul {
    padding: 0;
    display: inline;
    li {
      list-style-type: none;
      display: inline;
      margin: 10px;

      a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;

        display: inline-block;
        padding: 15px 20px;
        position: relative;
      }
      a::after {
        text-decoration: none;
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover::after {
        width: 100%;
        left: 0;
      }
    }
    .selected {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.15em;
    }
  }
}

article {
  @extend %shadow-boxes;
  background: $articlesBackground;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  // outline: 3px dashed blue; /* To show the size of articles */
  margin-bottom: 30px;
  padding-top: 15px;

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 10px;
    // outline: 1px dashed red; /* To show the size of sections */

    .capture {
      a {
        cursor: zoom-in;
      }
      img {
        width: 80%;
        margin: 25px 0px;
      }
    }

    .capture-small img {
      width: 40%;
      margin: 25px 0px;
    }

    .logo-becode img {
      width: 50%;
    }
    a {
      font-weight: bold;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

footer {
  background: $elementsBackgroundColor;
  color: white;
  text-align: center;
  padding: 15px;
  letter-spacing: 0.15em;
  a {
    color: white;

    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    text-transform: uppercase;
  }
}

/* ELEMENTS */

* {
  /* use the box as reference for padding */
  box-sizing: border-box;
}

html {
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: $mainBackgroundColor;
  font-family: Roboto, sans-serif;
  margin: 0;
  animation: fadein 1s;
}

p {
  margin-top: 0px;
  line-height: normal;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 0;
  padding-top: 25px;

  &:before {
    content: '« ';
    color: grey;
  }

  &:after {
    content: ' »';
    color: grey;
  }
}

h2 {
  letter-spacing: 0.15em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;

  &:before {
    content: '« ';
    color: grey;
  }

  &:after {
    content: ' »';
    color: grey;
  }
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* CLASSES */

.summary a {
  text-decoration: none;
  cursor: pointer;
  color: blue;

  &:hover {
    text-decoration: underline;
  }
}

.logo-contact {
  width: 75%;
  margin: 30px 2px;
  display: inline-block;
  padding-bottom: 15px;
  border: 0px black solid;
  border-radius: 10px;

  img {
    width: 30%;
    transition: 0.5s all ease-in-out;
    padding-bottom: 5px;

    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    line-height: 5px;
  }
}

.controls span,
button {
  font-weight: bold;
}

.counter {
  float: right;
  padding: 8px;
}

.capture-border {
  border: 1px black solid;
}

/* ID */

#summary {
  @extend %shadow-boxes;
  background: $articlesBackground;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 25%;
  margin-bottom: 25px;

  p {
    line-height: 20px;
  }

  ul {
    list-style-type: circle;
  }

  li {
    padding: 5px;
    margin-left: 35px;
  }
}

#contact-section {
  @extend %shadow-boxes;
  background: $articlesBackground;
  display: flex;
  flex-wrap: nowrap;
  padding: 30px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  .note {
    flex-basis: 100%;
  }
}

#top-link {
  text-align: right;
  margin-right: 20px;
  padding-bottom: 25px;

  img {
    width: 40px;
    height: 40px;
    transition: 0.5s all ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
  }

  a {
    margin-left: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

/* CONTAINER */

.margin-constraint {
  margin-left: 20px;
  margin-right: 20px;
}

.useful-width {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.margin-constraint,
.useful-width {
  display: block;
  width: auto;
}

/* COOKIE CONSENT */

#consent-popup {
  position: fixed;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 8rem;
  background-color: #140668ef;
  transition: opacity 1s ease;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

  p a {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
  }

  h3 {
    margin-left: auto;
    margin-right: auto;
  }

  .buttons-consent {
    display: flex;
    justify-content: center;
    button {
      border: none;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 5px;
      border-radius: 25px;
      a {
        color: white;
        font-size: 22px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    #accept {
      background-color: rgba(48, 223, 63, 0.787);
      &:hover {
        background-color: rgb(48, 223, 77);
      }
    }
    #refuse {
      background-color: rgba(218, 41, 41, 0.753);
      &:hover {
        background-color: rgb(218, 41, 41);
      }
    }
  }

  &.hidden {
    display: none;
  }
}

/* Privacy page */

code {
  font-family: Consolas, 'courier new';
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
  word-break: break-all;
}

.logo-contact .privacyImg {
  width: 15%;
}

.external-providers {
  list-style-type: none;
}

table.blueTable {
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 10px;
  td,
  table.blueTable th {
    border: 1px solid #aaaaaa;
    padding: 3px 2px;
  }
  tbody td {
    font-size: 13px;
  }
  tr:nth-child(even) {
    background: #d0e4f5;
  }
  thead {
    background: #1c6ea4;
    background: -moz-linear-gradient(
      top,
      #5592bb 0%,
      #327cad 66%,
      #1c6ea4 100%
    );
    background: -webkit-linear-gradient(
      top,
      #5592bb 0%,
      #327cad 66%,
      #1c6ea4 100%
    );
    background: linear-gradient(
      to bottom,
      #5592bb 0%,
      #327cad 66%,
      #1c6ea4 100%
    );
    border-bottom: 2px solid #444444;
  }
  thead th {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    border-left: 2px solid #d0e4f5;
  }
  thead th:first-child {
    border-left: none;
  }
  tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: #d0e4f5;
    background: -moz-linear-gradient(
      top,
      #dcebf7 0%,
      #d4e6f6 66%,
      #d0e4f5 100%
    );
    background: -webkit-linear-gradient(
      top,
      #dcebf7 0%,
      #d4e6f6 66%,
      #d0e4f5 100%
    );
    background: linear-gradient(
      to bottom,
      #dcebf7 0%,
      #d4e6f6 66%,
      #d0e4f5 100%
    );
    border-top: 2px solid #444444;
  }
  tfoot td {
    font-size: 14px;
  }
  tfoot .links {
    text-align: right;
  }
  tfoot .links a {
    display: inline-block;
    background: #1c6ea4;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 5px;
  }
}

/* ACCESSIBILITY */

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/** LIGHTBOX MARKUP **/

.lightbox {
  // Default to hidden
  display: none;
  // Overlay entire screen
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // A bit of padding around image
  padding: 1em;
  // Translucent background
  background: rgba(0, 0, 0, 0.8);
}

// Unhide the lightbox when it's the target
.lightbox:target {
  display: block;
}

.lightbox span {
  // Full width and height
  display: block;
  width: 100%;
  height: 100%;
  cursor: zoom-out;

  // Size and position background image
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.lightbox button {
  opacity: 0;
}

/* MEDIA QUERIES */

/* Mobile */
@media (max-width: 480px) {
  p {
    font-size: 16px;
  }
  #summary {
    padding: 25px 5%;
  }
  #contact-section {
    flex-wrap: wrap;
    .logo-contact {
      width: 80%;
      margin: 20px 2px;
      img {
        width: 30%;
      }
      p {
        justify-content: center;
      }
    }
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  p {
    font-size: 16px;
  }
  #summary {
    padding: 25px 5%;
  }
  .useful-width {
    max-width: fit-content;
    margin-left: 5px;
    margin-right: 5px;
  }
  #contact-section {
    flex-wrap: wrap;
    .logo-contact {
      width: 40%;
      margin: 20px 2px;
      img {
        width: 25%;
      }
    }
  }
}

/* Desktop */
@media all and (min-width: 1025px) {
  article {
    width: 100%;
    margin: 15px auto;
  }
  .article img {
    width: 100%;
    min-width: auto;
    height: auto;
  }
  .project .capture {
    width: 100%;
    height: auto;
  }
  #contact-section {
    width: 100%;
    margin: 15px auto;
  }
  #contact-section img {
    width: 20%;
    min-width: auto;
    height: auto;

    .privacyImg {
      width: 15%;
    }
  }

  #contact-section .logo-contact {
    height: auto;
  }
  #contact-section .logo-contact p {
    white-space: nowrap;
  }

  #consent-popup {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    padding: 0px 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;

    h3,
    p {
      padding-bottom: 0;
    }

    .buttons-consent {
      margin: auto;
      flex-wrap: wrap;
      button {
        width: 90%;
        padding: 10px;
        margin: 15px;
        margin-bottom: 10px;
      }
    }
  }
}
