/* VARIABLES */

$mainBackgroundColor: #F4F7F6;
$elementsBackgroundColor: #1D1D1D;

/* Variable usage: just as exemple */
// :root {
//   --elementsBackgroundColor: #1D1D1D;
// }

/* Mixin */

@mixin shadow-boxes {
  background: white;
  padding-bottom: 15px;
  border: 1px rgb(172, 170, 170) solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* SECTIONS */

section, header, footer {
  text-align: center;
}

header {
  background-color: $elementsBackgroundColor;
  //background-color: var(--elementsBackgroundColor);
  color: white;
  padding-bottom: 15px;
}

nav {
  text-align: center;
  background: white;
  box-shadow: 0px 3px 1px -1px (rgba(0, 0, 0, 0.5));
  font-size-adjust: 1.1em;
  padding: 15px;
  margin-bottom: 25px;

  ul {
    padding: 0;
    display: inline;

    li {
      list-style-type: none;
      display: inline;
      margin: 10px;

      a:hover {
        font-weight: bold;
      }
    }
  }
}

article {
  @include shadow-boxes;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-bottom: 30px;
}

footer {
  background: $elementsBackgroundColor;
  color: white;
  text-align: center;
  padding: 15px;
}

/* ELEMENTS */

* {
  /* use the box as reference for padding */
  box-sizing: border-box;
}

html {
  padding: 0;
  height: 100%;
}

body {
  background: $mainBackgroundColor;
  font-family: Roboto, sans-serif;
}

p {
  margin-top: 0px;
}

h1 {
  margin-top: 0;
  padding-top: 25px;

  &:before {
    content: "« ";
    color: grey;
  }

  &:after {
    content: " »";
    color: grey;
  }
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size-adjust: 1.5em;
  text-align: center;
  margin: auto;
  padding-bottom: 25px;

  &:before {
    content: "« ";
    color: grey;
  }

  &:after {
    content: " »";
    color: grey;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* CLASSES */

.capture img {
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logo-contact {
  width: 300px;
  margin: 30px;
  display: inline-block;
  background: white;
  padding-bottom: 15px;
  border: 0px black solid;
  border-radius: 10px;

  img {
    width: 30%;
    transition: 0.5s all ease-in-out;
    padding-bottom: 5px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.controls span, button {
  font-weight: bold;
}

.counter {
  float: right;
  padding: 8px;
}

/* ID */

#summary{
  @include shadow-boxes;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  margin-bottom: 25px;
}


#contact-section {
  @include shadow-boxes;
  display: flex;
  padding: 30px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

#top-link {
  text-align: right;
  margin-right: 20px;
  padding-bottom: 25px;
}

/* CONTAINER */

.margin-constraint{
  margin-left: 20px;
  margin-right: 20px;
}

.useful-width{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.margin-constraint, .useful-width{
  display: block;
  width: auto;
}

/* MEDIA QUERIES */

@media all and (max-width: 1000px){
  article { width: 100%; margin: 15px auto;}
  .article img { width: 100%; min-width: auto; height: auto;}
  .project .capture { width: 100%; height: auto;}
  #contact-section { width: 100%; flex-wrap: wrap; margin: 15px auto;}
  #contact-section img { width: 50%; min-width: auto; height: auto;}
  #contact-section .logo-contact { width: 50%; height: auto;}
  header h1 { width: 90%; }
}

/* Accessibility */

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}