/* VARIABLES */

$mainBackgroundColor: rgba(230, 230, 230, 0.7);
$headerFooterBackgroundColor: #000;
$sectionsBackgroundColor: rgba(60, 72, 88, 0.14);
$projectBackgroundColor: rgba(46, 47, 48, 0.65);

/* PLACEHOLDERS */

%shadow-boxes {
  background: white;
  padding-bottom: 15px;
  border: 1px rgb(172, 170, 170) solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* ANIMATIONS */

/* Top arrow bouncing */

@keyframes bouncing {
  15% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  65% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Appearance */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appearance {
  100% {
    opacity: 1;
    transform: none;
  }
}

/* SECTIONS */

section,
article,
header,
footer {
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}

header {
  background-color: $headerFooterBackgroundColor;
  color: white;
  padding-bottom: 15px;

  img {
    opacity: 0;
    transform: translateY(-30px);
    animation: appearance 0.2s 1s ease-out forwards;
  }
  h1 {
    opacity: 0;
    transform: translateX(-30px);
    animation: appearance 0.2s 2s ease-out forwards;
  }
  h2 {
    opacity: 0;
    transform: translateX(30px);
    animation: appearance 0.2s 2.5s ease-out forwards;
  }
  .separator {
    opacity: 0;
    animation: appearance 0.2s 3s ease-out forwards;
  }
}

nav {
  text-align: center;
  background: #000;
  box-shadow: 0px 3px 1px -1px (rgba(0, 0, 0, 0.5));
  font-size-adjust: 1.1em;
  padding: 15px;
  ul {
    padding: 0;
    display: inline;
    li {
      list-style-type: none;
      display: inline;
      margin: 10px;
      a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;

        display: inline-block;
        padding: 15px 20px;
        position: relative;
      }
      a::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }

  //Safari accessibility
  ul li::before {
    content: '\200B';
  }
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

footer {
  background: $headerFooterBackgroundColor;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 15px;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* ELEMENTS */

* {
  /* use the box as reference for padding */
  box-sizing: border-box;
}

html {
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: $mainBackgroundColor;
  margin: 0px;
  font-family: Roboto, sans-serif;
  animation: fadein 1s;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 0;
  padding-top: 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;

  &:before {
    content: '« ';
    color: grey;
  }

  &:after {
    content: ' »';
    color: grey;
  }
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-transform: uppercase;

  &::before {
    content: '« ';
    color: grey;
  }

  &::after {
    content: ' »';
    color: grey;
  }
}

span {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* ID */

#summary {
  @extend %shadow-boxes;
  background: $sectionsBackgroundColor;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;

  div {
    padding: 25px 25%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    line-height: 20px;
  }

  ul {
    list-style-type: circle;
  }

  li {
    padding: 5px;
    margin-left: 35px;
  }
}

#logo {
  margin: 15px 0px;
  max-width: 40%;
  height: auto;
}

#projects-section {
  @extend %shadow-boxes;
  background: $sectionsBackgroundColor;
  margin-bottom: 25px;
}

#contact-section {
  @extend %shadow-boxes;
  background: rgba(60, 72, 88, 0.14);
  display: flex;
  padding: 30px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  p {
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
}

#top-link-small {
  text-align: right;
  margin-right: 20px;
  padding-bottom: 25px;

  img {
    width: 25px;
    height: 25px;

    &:hover {
      animation: bouncing 1s ease;
      animation-iteration-count: infinite;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

#top-link {
  text-align: right;
  margin-right: 20px;
  padding-bottom: 25px;

  img {
    width: 40px;
    height: 40px;
    transition: 0.5s all ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

/* CLASSES */

.project {
  background: $projectBackgroundColor;
  color: aliceblue;
  width: 300px;
  margin: 30px;
  display: inline-block;
  @extend %shadow-boxes;
  border: 0px black solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 25px;

  a {
    color: aliceblue;
  }

  img {
    width: 400px;
    height: 266px;
    margin-left: -25%;
    transition: 0.5s all ease-in-out;
    /* filter: grayscale(100%) blur(0.5px); */
    object-fit: cover;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    img {
      transform: scale(1.1);
      /* filter: none; */
    }
  }

  span {
    line-height: 18px;
    padding-bottom: 3px;
  }

  .date-project {
    font-size: 0.7em;
  }
}

.picture {
  width: 400px;
  height: 266px;
  z-index: 4;
  overflow: hidden;
  margin-bottom: 15px;
}

.logo-contact {
  width: 300px;
  margin: 30px;
  display: inline-block;
  padding-bottom: 15px;
  border: 0px black solid;
  border-radius: 10px;

  img {
    width: 30%;
    transition: 0.5s all ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.separator {
  width: 40px;
  height: 1px;
  margin: 15px auto;
  display: block;
  background-color: #999999;
}

/* CONTAINER */

.margin-constraint {
  margin-left: 20px;
  margin-right: 20px;
}

.useful-width {
  max-width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.margin-constraint,
.useful-width {
  display: block;
  width: auto;
}

/* COOKIE CONSENT */
/*
#consent-popup {
  position: fixed;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 8rem;
  background-color: #140668ef;
  // transition: opacity 0.1s ease;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

  p a {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
  }

  h3 {
    margin-left: auto;
    margin-right: auto;
  }
  
  .buttons-consent {
    display: flex;
    justify-content: center;
    button {
      border: none;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 5px;
      border-radius: 25px;
      a {
        color: white;
        font-size: 22px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    #accept {
      background-color: rgba(48, 223, 63, 0.787);
      &:hover {
        background-color: rgb(48, 223, 77);
      }
    }
    #refuse {
      background-color: rgba(218, 41, 41, 0.753);
      &:hover {
        background-color: rgb(218, 41, 41);
      }
    }
  }

  &.hidden {
    display: none;
  }
}*/

/* ACCESSIBILITY */

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* MEDIA QUERIES */

/* Mobile */
@media (max-width: 480px) {
  #summary {
    div {
      padding: 25px 5%;
    }
  }
  .project {
    width: 100%;
    margin: 15px auto;
  }
  .project img {
    width: 100%;
    min-width: auto;
    height: auto;
    margin-left: 0%;
    object-fit: cover;
    /* filter: none; */
  }
  .project .picture {
    width: 100%;
    height: auto;
  }
  #logo {
    max-width: 80%;
  }
  #contact-section {
    display: none;
  }
  #contact-section-mobile {
    display: block;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }

    p {
      color: white;
      font-size: medium;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }

    .logo-contact {
      width: 80%;
      margin: 8px;
      text-align: center;

      background: #000;
      box-shadow: 0px 3px 1px -1px (rgba(0, 0, 0, 0.5));
      font-size-adjust: 1.1em;
      padding: 2px;
    }
  }
  header h2 {
    width: 90%;
  }
  /*
  #consent-popup {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    padding: 0px 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    h3,
    p {
      padding-bottom: 0;
    }
    .buttons-consent {
      margin: auto;
      flex-wrap: wrap;
      button {
        width: 90%;
        padding: 10px;
        margin: 15px;
        margin-bottom: 10px;
      }
    }
  }*/
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  #summary {
    div {
      padding: 25px 5%;
    }
  }
  .useful-width {
    max-width: fit-content;
    margin-left: 5px;
    margin-right: 5px;
  }
  .project {
    display: block;
    width: 100%;
    margin: 15px auto;
  }
  .project img {
    width: 100%;
    min-width: auto;
    height: auto;
    margin-left: 0%;
    /* filter: none; */
  }
  .project .picture {
    width: 100%;
    height: auto;
  }
  #logo {
    max-width: 80%;
  }
  #contact-section {
    display: none;
  }
  #contact-section-mobile {
    display: block;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
    p {
      color: white;
      font-size: large;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }
    .logo-contact {
      width: 80%;
      margin: 8px;
      text-align: center;
      background: #000;
      box-shadow: 0px 3px 1px -1px (rgba(0, 0, 0, 0.5));
      font-size-adjust: 1.1em;
      padding: 2px;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  header h2 {
    width: 90%;
  }

  /*
  #consent-popup {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    padding: 0px 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    h3,
    p {
      padding-bottom: 0;
    }
    .buttons-consent {
      margin: auto;
      flex-wrap: wrap;
      button {
        width: 90%;
        padding: 10px;
        margin: 15px;
        margin-bottom: 10px;
      }
    }
  }*/
}

/* Desktop */
@media (min-width: 1025px) {
  .project {
    height: 340px;
  }
  .project img {
    object-fit: fill;
  }
  #contact-section-mobile {
    display: none;
  }
}
