@charset "UTF-8";
/* VARIABLES */
/* Variable usage: just as exemple */
/* Placeholder */
article, #summary, #contact-section {
  background: white;
  border: 1px #acaaaa solid;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* SECTIONS */
section, header, footer {
  text-align: center;
}

header {
  background-color: #1D1D1D;
  color: white;
  padding-bottom: 15px;
}

nav {
  text-align: center;
  background: white;
  -webkit-box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
  font-size-adjust: 1.1em;
  padding: 15px;
  margin-bottom: 25px;
}

nav ul {
  padding: 0;
  display: inline;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin: 10px;
}

nav ul li a:hover {
  font-weight: bold;
}

nav ul li::before {
  content: "\200B";
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 30px;
  padding-top: 15px;
}

article section {
  width: 100%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article section .capture img {
  width: 80%;
  margin: 25px 0px;
}

article section .capture-small img {
  width: 40%;
  margin: 25px 0px;
}

article section .logo-becode img {
  width: 50%;
}

footer {
  background: #1D1D1D;
  color: white;
  text-align: center;
  padding: 15px;
}

/* ELEMENTS */
* {
  /* use the box as reference for padding */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  padding: 0;
  height: 100%;
}

body {
  background: #F4F7F6;
  font-family: Roboto, sans-serif;
}

p {
  margin-top: 0px;
}

h1 {
  margin-top: 0;
  padding-top: 25px;
}

h1:before {
  content: "« ";
  color: grey;
}

h1:after {
  content: " »";
  color: grey;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
}

h2:before {
  content: "« ";
  color: grey;
}

h2:after {
  content: " »";
  color: grey;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

/* CLASSES */
.logo-contact {
  width: 300px;
  margin: 30px;
  display: inline-block;
  background: white;
  padding-bottom: 15px;
  border: 0px black solid;
  border-radius: 10px;
}

.logo-contact img {
  width: 30%;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  padding-bottom: 5px;
}

.logo-contact img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo-contact p {
  line-height: 5px;
}

.controls span, button {
  font-weight: bold;
}

.counter {
  float: right;
  padding: 8px;
}

.capture-border {
  border: 1px black solid;
}

/* ID */
#summary {
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 25%;
  margin-bottom: 25px;
}

#summary p {
  line-height: 20px;
}

#summary ul {
  list-style-type: circle;
}

#summary li {
  padding: 5px;
  margin-left: 35px;
}

#contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top-link {
  text-align: right;
  margin-right: 20px;
  padding-bottom: 25px;
}

#top-link img {
  width: 40px;
  height: 40px;
}

#top-link a {
  margin-left: 20px;
  text-decoration: none;
}

#top-link a:hover {
  text-decoration: none;
}

/* CONTAINER */
.margin-constraint {
  margin-left: 20px;
  margin-right: 20px;
}

.useful-width {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.margin-constraint, .useful-width {
  display: block;
  width: auto;
}

/* MEDIA QUERIES */
@media all and (max-width: 1000px) {
  article {
    width: 100%;
    margin: 15px auto;
  }
  .article img {
    width: 100%;
    min-width: auto;
    height: auto;
  }
  .project .capture {
    width: 100%;
    height: auto;
  }
  #contact-section {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px auto;
  }
  #contact-section img {
    width: 50%;
    min-width: auto;
    height: auto;
  }
  #contact-section .logo-contact {
    width: 50%;
    height: auto;
  }
  header h1 {
    width: 90%;
  }
}

/* Accessibility */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/*# sourceMappingURL=style-project.css.map */